.footer {
  $self: &;

  width: 100%;
  background-color: clr(primary);
  color: clr(text-inverse);
  padding: $space-double;

  &__inner {
    @include xl {
      display: flex;
    }
  }

  &__branding {
    flex-basis: 25%;
    margin-bottom: $space-double;

    @include xl {
      margin-bottom: 0;
    }

    img {
      width: 200px;
    }
  }

  &__menus {
    @include medium {
      display: flex;
      flex-basis: 50%;
    }

    h2 {
      font-size: 1.2rem;
      color: clr(text-inverse);
      margin-bottom: $space;
      margin-top: 0;
    }

    a {
      @include link(clr(text-inverse), clr(secondary-light));
    }

    ul {
      height: 150px;
    }

    > div {
      flex: 1;
      margin-bottom: $space-double;

      @include xl {
        margin-bottom: 0;

      }
    }

    .views-row {
      margin-bottom: 5px;
    }

    .vertical-menu__handle {
      display: none;
    }

    ul {
      margin-bottom: 0;
    }
  }

  &__info {
    flex-basis: 25%;

    #{$self}__phone a {
      text-decoration: none;
      font-size: 2rem;
      font-weight: 600;
      color: clr(text-inverse);
    }

    #{$self}__email {
      margin-bottom: $space;

      a {
        text-decoration: none;
        color: clr(text-inverse);
      }
    }

    #{$self}__copy {
      color: $gray-lighter;
    }
  }

  $footer_bottom_breakpoint: 1130px;

  &__bottom {
    background: $white;
    color: clr(text);
    padding: $space;

    @include breakpoint($footer_bottom_breakpoint) {
      display: flex;
      align-items: center;
    }
  }

  &__slogan {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    flex: 1;
    text-align: center;

    @include breakpoint($footer_bottom_breakpoint) {
      text-align: right;
    }
  }
}
