// Color variables - it is better to use the colors in
// components/00-base/01-colors/_01-colors-used.scss rather than
// these colors directly.

// Grayscale
$white: white;
$near-white: #e9eaea;
$gray-lightest: #e5e5e5;
$gray-lighter: #b8b8b8;
$gray-light: #888;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$black: black;

// Status
$yellow-light: #f9fb93;
$red-light: #fbe3e4;
$green-light: #cfefc2;

// Project
$red: #c6213f;
$red-dark: #911c33;
$blue: #013e6c;
$darkblue: #0F233D;
$slate: #69777f;
