{% set footer_logos_base_class = "footer-logos" %}

{% set logos = {
  0: {
    logo_src: logo_path is empty ? './logo-element-solutions-bw.png' : logo_path ~ '/logo-element-solutions-bw.png',
    logo_url: 'https://www.elementsolutionsinc.com/'
  },
  1: {
    logo_src: logo_path is empty ? './logo-macdermid-alpha-bw.png' : logo_path ~ '/logo-macdermid-alpha-bw.png',
    logo_url: 'https://www.macdermidalpha.com/'
  },
  2: {
    logo_src: logo_path is empty ? './logo-macdermid-enthone-bw.png' : logo_path ~ '/logo-macdermid-enthone-bw.png',
    logo_url: 'https://industrial.macdermidenthone.com/'
  }
} %}

<div {{ bem(footer_logos_base_class, [], footer_logos_blockname) }}>
  {% for logo in logos %}
    {% include "@atoms/images/image/figure.twig" with {
      image_url: logo.logo_url,
      image_src: logo.logo_src,
      image_figure_blockname: footer_logos_base_class,
      image_figure_base_class: 'logo'
    } %}
  {% endfor %}
</div>
