{% set rollover_tile_base_class = rollover_tile_base_class|default('rollover-tile') %}

{% if rollover_tile_text_container_modifiers is empty %}
  {% set rollover_tile_text_container_modifiers = [] %}
{% endif %}

{% if rollover_tile_overlay_color %}
  {% set rollover_tile_text_container_modifiers = rollover_tile_text_container_modifiers|merge([rollover_tile_overlay_color]) %}
{% endif %}

{% if not rollover_tile_text_container_modifiers %}
  {% set rollover_tile_text_container_modifiers = ['primary'] %}
{% endif %}

<div {{ bem(rollover_tile_base_class, rollover_tile_modifiers, rollover_tile_blockname) }}>
  {% block image %}
    {% include "@atoms/images/image/responsive-image.twig" with {
      image_src: rollover_tile_image_src,
      responsive_image_base_class: 'image',
      responsive_image_blockname: rollover_tile_base_class
    } %}
  {% endblock %}

  <div {{ bem('text-container', rollover_tile_text_container_modifiers, rollover_tile_base_class) }}>
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: 3,
      heading: rollover_tile_title,
      heading_base_class: 'title',
      heading_blockname: rollover_tile_base_class
    } %}

    {% include "@atoms/text/text/01-paragraph.twig" with {
      paragraph_content: rollover_tile_description,
      paragraph_base_class: 'description',
      paragraph_blockname: rollover_tile_base_class
    } %}
  </div>
</div>
