{% set page_layout_modifier = 'full' %}

{% embed "@templates/full-width.twig" %}
  {% block page_content_top %}
    {% embed '@molecules/hero/hero.twig' with {
      hero_bg_image: "https://placeimg.com/1440/810/nature/grayscale",
      hero_text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
      hero_link_title: "Lorem Ipsum",
      hero_link_url: "#"
    } %}
      {% block hero_bottom %}
        {% include "@molecules/app-trend-menu/app-trend-menu.twig" %}
      {% endblock %}
    {% endembed %}
  {% endblock %}

  {% block page_content %}

    {# Text with Media #}
    {% include "@molecules/text-with-media/text-with-media.twig" with {
      text_with_media_src: "https://placeimg.com/740/425",
      text_with_media_text: "<h2>Praesent commodo cursus magna, vel scelerisque nisl consectater et</h2><p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>",
      text_with_media_link_text: "Click Me",
      text_with_media_link_url: "#"
    } %}

    {# Rollover Tiles #}
    {% embed "@organisms/rollover-tiles/rollover-tiles.twig" %}
      {% block tiles %}
        {# Rollover Tile #}
        {% include "@molecules/rollover-tile/_rollover-tile.twig" with {
          rollover_tile_image_src: "https://placeimg.com/460/320/nature",
          rollover_tile_title: "Style",
          rollover_tile_description: "Praesent commodo cursus magna, vel scelerisque nisl consectater et. Curabitur blandit tempus porttitor.",
          rollover_tile_overlay_color: 'accent'
        } %}
        {# Rollover Tile #}
        {% include "@molecules/rollover-tile/_rollover-tile.twig" with {
          rollover_tile_image_src: "https://placeimg.com/460/320/animals",
          rollover_tile_title: "Function",
          rollover_tile_description: "Praesent commodo cursus magna, vel scelerisque nisl consectater et. Curabitur blandit tempus porttitor.",
          rollover_tile_overlay_color: 'secondary'
        } %}
        {# Rollover Tile #}
        {% include "@molecules/rollover-tile/_rollover-tile.twig" with {
          rollover_tile_image_src: "https://placeimg.com/460/320/tech",
          rollover_tile_title: "Reliability",
          rollover_tile_description: "Praesent commodo cursus magna, vel scelerisque nisl consectater et. Curabitur blandit tempus porttitor.",
          rollover_tile_overlay_color: 'primary'
        } %}
      {% endblock %}
    {% endembed %}

    {# CTA Heading - Flipped #}
    {% include "@molecules/cta/cta.twig" with {
      cta_heading: 'News & Media',
      cta_subheading: 'Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectater et. Curabitur blandit tempus porttitor.',
      cta_link_text: 'More News',
      cta_modifiers: ['flipped', 'secondary-light']
    } %}

    {# Featured News Grid #}
    {% embed "@organisms/featured-news-grid/featured-news-grid.twig" %}
      {% block items %}
        {# Featured Grid Item #}
        {% include "@molecules/featured-grid-item/featured-grid-item.twig" with {
          item_date: "April 26, 2020",
          item_type: "News",
          item_title: "Dapibus Amet Nibh Malesuada Ornare",
          item_description: "Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.",
          item_url: "#",
          item_link_text: "Read More",
          item_image_src: "https://placeimg.com/1440/700/arch",
          featured_item: true
        } %}
        {# Featured Grid Item #}
        {% include "@molecules/featured-grid-item/featured-grid-item.twig" with {
          item_date: "April 26, 2020",
          item_type: "News",
          item_title: "Dapibus Amet Nibh Malesuada Ornare",
          item_description: "Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.",
          item_url: "#",
          item_link_text: "Read More",
          item_image_src: "https://placeimg.com/720/450/arch"
        } %}
        {# Featured Grid Item #}
        {% include "@molecules/featured-grid-item/featured-grid-item.twig" with {
          item_date: "April 26, 2020",
          item_type: "News",
          item_title: "Dapibus Amet Nibh Malesuada Ornare",
          item_description: "Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.",
          item_url: "#",
          item_link_text: "Read More",
          item_image_src: "https://placeimg.com/720/450/arch"
        } %}
        {# Featured Grid Item #}
        {% include "@molecules/featured-grid-item/featured-grid-item.twig" with {
          item_date: "April 26, 2020",
          item_type: "News",
          item_title: "Dapibus Amet Nibh Malesuada Ornare",
          item_description: "Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.",
          item_url: "#",
          item_link_text: "Read More",
          item_image_src: "https://placeimg.com/437/300/arch"
        } %}
        {# Featured Grid Item #}
        {% include "@molecules/featured-grid-item/featured-grid-item.twig" with {
          item_date: "April 26, 2020",
          item_type: "News",
          item_title: "Dapibus Amet Nibh Malesuada Ornare",
          item_description: "Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.",
          item_url: "#",
          item_link_text: "Read More",
          item_image_src: "https://placeimg.com/437/300/arch"
        } %}
        {# Featured Grid Item #}
        {% include "@molecules/featured-grid-item/featured-grid-item.twig" with {
          item_date: "April 26, 2020",
          item_type: "News",
          item_title: "Dapibus Amet Nibh Malesuada Ornare",
          item_description: "Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.",
          item_link_url: "#",
          item_link_text: "Read More",
          item_image_src: "https://placeimg.com/437/300/arch"
        } %}
      {% endblock %}
    {% endembed %}

    {# CTA #}
    {% include "@molecules/cta/cta.twig" with {
      cta_heading: 'Speak with us',
      cta_subheading: 'Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectater et. Curabitur blandit tempus porttitor.',
      cta_link_text: 'Contact',
      cta_modifiers: ['secondary']
    } %}

    {# Newsletter CTA #}
    {% include "@molecules/newsletter-cta/newsletter-cta.twig" %}

  {% endblock %}
{% endembed %}
