{% set rollover_tiles_base_class = rollover_tiles_base_class|default("rollover-tiles") %}

<div {{ bem(rollover_tiles_base_class, rollover_tiles_modifiers, rollover_tiles_blockname) }}>
  {% block tiles %}
    {% for tile in rollover_tiles %}
      {% include "@molecules/rollover-tile/_rollover-tile.twig" with {
        rollover_tile_image_src: tile.image,
        rollover_tile_title: tile.title,
        rollover_tile_description: tile.description
      } %}
    {% endfor %}
  {% endblock %}
</div>
