.tabs__link,
.tabs__link--local-tasks {
  border: none;
  color: clr(text-inverse);
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1em 2.4em;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s;
  border-radius: 3px;
  margin-right: 5px;

  @include large {
    display: inline-block;
    font-size: 1rem;
    padding: 0.6em 1.7em;
    position: relative;
    top: 1px;
    width: auto;
  }

  &:hover {
    background-color: clr(primary);
  }

  &.is-active {
    background-color: clr(primary);
    color: clr(text-inverse);
  }
}
