.header-top {
  &__menu {
    @include list-reset;

    display: flex;
    align-items: center;

    &__item {
      display: flex;
      align-items: center;

      // Vertical line separators.
      &:not(:last-child) {
        &::before {
          content: '';
          display: block;
          width: 1px;
          height: 10px;
          background: $gray-light;
        }
      }

      &:first-child {
        &::before {
          display: none;
        }
      }
    }

    &__link {
      color: clr(text-inverse);
      display: block;
      font-size: 0.8rem;
      line-height: 1;
      padding: $space $space-one-half;
      text-decoration: none;
      font-weight: 400;

      @include medium {
        padding: $space;
        border-bottom: none;
        display: inline-block;
        text-transform: none;
        position: relative;
        width: auto;

        &.active,
        &:active,
        &:hover {
          color: #ccc;
        }
      }
    }

    &__item:last-child a {
      background: clr(accent);

      &:hover {
        color: clr(text-inverse);
        background: clr(accent-dark);
      }
    }
  }
}
