{% set vertical_menu_base_class = "vertical-menu" %}

{% if vertical_menu_modifiers is empty %}
  {% set vertical_menu_modifiers = [] %}
{% endif %}

{% if vertical_menu_title_modifiers is empty %}
  {% set vertical_menu_title_modifiers = [] %}
{% endif %}

{% if vertical_menu_collapsible %}
  {% set vertical_menu_modifiers = vertical_menu_modifiers|merge(['collapsible']) %}
  {% set vertical_menu_title_modifiers = vertical_menu_title_modifiers|merge(['collapsible']) %}
{% endif %}

<div {{ bem(vertical_menu_base_class, vertical_menu_modifiers, vertical_menu_blockname) }}>
  {% if vertical_menu_title %}
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: 3,
      heading: vertical_menu_title,
      heading_base_class: "title",
      heading_blockname: vertical_menu_base_class,
      heading_modifiers: vertical_menu_title_modifiers,
      heading_url: "#",
      heading_link_modifiers: vertical_menu_title_modifiers,
      heading_link_blockname: vertical_menu_base_class
    } %}
  {% endif %}

  {% block vertical_menu_items %}
    {% embed "@atoms/lists/ul.twig" with {
      ul_blockname: vertical_menu_base_class
    } %}
      {% block list_content %}
        {% for item in vertical_menu_items %}
          {% embed "@atoms/lists/_list-item.twig" with {
            li_blockname: vertical_menu_base_class
          } %}
            {% block list_item_content %}
              {% include "@atoms/links/link/link.twig" with {
                link_content: item.title,
                link_url: item.url,
                link_blockname: vertical_menu_base_class
              } %}
            {% endblock %}
          {% endembed %}
        {% endfor %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
</div>
