{% set layout_modifiers = [] %}

{% set main_base_class = main_base_class|default('main') %}
{% set main_modifiers = [] %}

{% set main_content_base_class = main_content_base_class|default('main-content') %}
{% set main_content_modifiers = [] %}

<div {{ bem('layout-container', layout_modifiers) }}>

  <div {{ bem(main_base_class, main_modifiers, main_blockname) }}>
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <main role="main" {{ bem(main_content_base_class, main_content_modifiers, main_content_blockname) }}>
      {% block page_header_top %}
        {% include "@organisms/site/site-header/site-header-top.twig" %}
      {% endblock %}

      {% block page_header %}
        {% include "@organisms/site/site-header/site-header.twig" with {
          header__burger_menu: true
        } %}
      {% endblock %}
      {% block page_system %}
      {% endblock %}

      {% block page_content_top %}{% endblock %}

      <div {{ bem('content', [], main_content_base_class) }}>
        {% block page_content %}{% endblock %}
      </div>

      {% block page_footer %}
        {% include "@organisms/site/site-footer/site-footer.twig" %}
      {% endblock %}
    </main>
  </div>
</div>
