{% set newsletter_cta_base_class = newsletter_cta_base_class|default("newsletter-cta") %}

<div {{ bem(newsletter_cta_base_class, newsletter_cta_modifiers, newsletter_cta_blockname) }}>
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 2,
    heading: "Join our newsletter"
  } %}
  {% include "@atoms/text/text/01-paragraph.twig" with {
    paragraph_content: "Quarterly updates from esi automotive and industry news and updates"
  } %}

  {% block form %}
    <form>
      <input type="email" placeholder="Email Address" />
      <input class="button" type="submit" value="Submit" />
    </form>
  {% endblock %}
</div>
