{% set hero__base_class = "hero" %}

<div {{ bem(hero__base_class, (hero__modifiers), hero__blockname) }}>
  <div {{ bem('overlay', [], hero__base_class)}}></div>
  <div {{ bem('text-container', [], hero__base_class) }}>


    {% if hero_link_title is not empty %}
      {% include "@atoms/links/link/link.twig" with {
        link_content: hero_link_title,
        link_url: hero_link_url,
        link_base_class: "hero-tagline",
        link_blockname: hero__base_class
      } %}
    {% endif %}
  </div>

  {% block image %}
    {% include "@atoms/images/image/responsive-image.twig" with {
      image_src: hero_bg_image,
      responsive_image_base_class: 'bg-image',
      responsive_image_blockname: hero__base_class
    } %}
  {% endblock %}

  <div {{ bem('bottom', [], hero__base_class) }}>
    {% block hero_bottom %}
    {% endblock %}
  </div>
</div>
