$hero-height: 800px;

.hero {
  position: relative;
  background: #ccc;
  overflow: hidden;

  @include large {
    height: $hero-height;
  }

  .blazy .media {
    position: static;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    object-fit: cover;
    min-height: $hero-height;
    z-index: 1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(15, 35, 61, 0.35) 0%, rgba(15, 35, 61, 1) 95%);
    z-index: 2;
  }

  &__text-container {
    position: relative;
    z-index: 3;
    width: 100%;

    @include medium {
      width: 80%;
    }

    @include large {
      width: 70%;
      position: absolute;
      top: 125px;
    }
  }

  &__hero-text {
    color: clr(text-inverse);
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;

    @include large {
      font-size: 3rem;
    }
  }

  &__hero-tagline {
    display: inline-block;
    padding: 5px 10px;
    color: clr(text-inverse);
    background: clr(accent);
    font-size: 2rem;
    margin: 0;
    text-decoration: none;
    font-weight: 700;

    &:hover {
      background: clr(accent-dark);
    }
  }

  &__bottom {
    padding: $space;
    position: relative;
    z-index: 4;
    width: 100%;

    @include large {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: $space-double;
    }
  }
}
