{% set featured_news_grid_base_class = featured_news_grid_base_class|default("featured-news-grid") %}

<div {{ bem(featured_news_grid_base_class, featured_news_grid_modifiers, featured_news_grid_blockname) }}>
  {% block items %}
    {% for item in items %}
      {% include "@molecules/featured-grid-item/featured-grid-item.twig" with {
        item_date: "April 26, 2020",
        item_type: "News",
        item_title: "Dapibus Amet Nibh Malesuada Ornare",
        item_description: "Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.",
        item_link_url: "#",
        item_link_text: "Read More",
        item_image_src: "https://placeimg.com/1440/450/arch/grayscale",
        featured_item: true
      } %}
    {% endfor %}
  {% endblock %}
</div>
