@mixin link($color: clr(accent), $hover-color: clr(accent-high)) {
  color: $color;
  text-decoration: none;

  &:hover {
    color: $hover-color;
  }
}

.link {
  @include link;
}

.text-long {
  a:not(.button) {
    @include link;

    &:hover {
      text-decoration: underline;
    }
  }
}
